 .card:hover {
            transform: scale(1.1);
            /* Phóng to thẻ khi di chuột */
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
            /* Thêm bóng */
        }

        .card-text {
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
        }

        .card {
            transition: transform 0.3s;

            /* Thay đổi vị trí với hiệu ứng */
        }

        #myBtn {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 99999999999999;
            font-size: 18px;
            border: none;
            outline: none;
            background-color: rgb(0, 140, 255);
            cursor: pointer;
            height: 40px;
            width: 40px;
            padding: 5px;
            border-radius: 50%;
        }

        #myBtn:hover {
            background-color: #ffffff;
        }

        .go-top i {
            color: rgb(255, 255, 255);
            padding-left: 5px;
        }

        .go-top i:hover {
            color: rgb(0, 140, 255);
        }

        .sticky {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 99999999999999;
        }